extends layout
block content  
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/js.cookie.js')
    script(src='javascripts/main.js')
  body
    navbar.title-login
      .title Ghoul Alert
      .login
        .no-login
          button#create-login-button.small_button.inline(type='button') New Account
          button#use-login-button.small_button.inline(type='button') Log In
        .has-login
          .login-name
          button#destroy-login-button.small_button(type='button') Log Out
        .create-login
          form.user-login-create-form
            input#new-user-username.small_input.inline(type='text', name='new-username', placeholder='Username', required='')
            input#new-user-password.small_input.inline(type='password', name='new-password', placeholder='Password', required='')
            button#new-user-submit.small_button.inline(type='submit') Create User
            button#new-user-cancel.small_button.inline(type='button') Cancel
        .use-login
          form.user-login-use-form
            input#existing-user-username.small_input.inline(type='text', name='existing-username', placeholder='Username', required='')
            input#existing-user-password.small_input.inline(type='password', name='existing-password', placeholder='Password', required='')
            button#existing-user-submit.small_button.inline(type='submit') Log In
            button#existing-user-cancel.small_button.inline(type='button') Cancel
    #messages
      .alert
        .alert-message
        button.close-alert.small_button ×
      .affirmation
        .affirmation-message
        button.close-affirmation.small_button ×
            
        
    section#map
      iframe(src='https://www.google.com/maps/d/embed?mid=1_UI6WRqjCzomDvp1b1sLZYz7qY8&hl=en_US', width='640', height='480')
        
    section
      button#add-marker-button(style='width:auto;') ADD MARKER
      #newmarker.modal
        form.modal-content.animate(action='/')
          h3 Adding New Marker
          .imgcontainer
            span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
          .container
            label(for='name')
              b Marker Name
            input#markerName(type='text', placeholder='Enter name for Marker', name='name', required='')
            label(for='description')
              b Description
            input#description(type='text', placeholder='Enter description', name='description', required='')
            button#add(type='submit') CREATE
          .container(style='background-color:#f1f1f1;')
            button.cancelbtn(type='button') Cancel
    section
