extends layout
block content  
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/js.cookie.js')
    script(src='javascripts/main.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBK2Mfs4UEpqJXALJwBje0UdMKWjt88Zh8&callback=initMap')
  body
    navbar.title-login
      .title Ghoul Alert
      .login
        .no-login
          button#create-login-button.small_button.inline(type='button') New Account
          button#use-login-button.small_button.inline(type='button') Log In
        .has-login
          .login-name
          button#destroy-login-button.small_button(type='button') Log Out
        .create-login
          form.user-login-create-form
            input#new-user-username.small_input.inline(type='text', name='new-username', placeholder='Username', required='')
            input#new-user-password.small_input.inline(type='password', name='new-password', placeholder='Password', required='')
            button#new-user-submit.small_button.inline(type='submit') Create User
            button#new-user-cancel.small_button.inline(type='button') Cancel
        .use-login
          form.user-login-use-form
            input#existing-user-username.small_input.inline(type='text', name='existing-username', placeholder='Username', required='')
            input#existing-user-password.small_input.inline(type='password', name='existing-password', placeholder='Password', required='')
            button#existing-user-submit.small_button.inline(type='submit') Log In
            button#existing-user-cancel.small_button.inline(type='button') Cancel
            
        
    section#map
        
    #messages
      .alert
        .alert-message
      .affirmation
        .affirmation-message
          
    section
      button#add-marker-button(style='width:auto;') ADD SIGHTING
      #newmarker.modal
        form.modal-content.animate(action='/')
          h3 Marking a New Sighting
          .imgcontainer
            span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
          #add-marker-map.container
          #add-marker-form.container
            label(for='name')
              b Sighting Name
            input#markerName(type='text', placeholder='Enter name for Marker', name='name', required='')
            label(for='description')
              b Description
            textarea#description(placeholder='Enter description', name='description', rows='8', required='')
            button#add(type='submit') CONFIRM SIGHTING
            .marker-errors
          .container(style='background-color:#f1f1f1;')
            button.cancelbtn(type='button') Cancel
    section
